<div class="breadcrumb" style="font-size: 0.8em">
<a href="{{ site.baseurl }}/">Home</a>
{%- capture page_url_without_index_html -%}{{ page.url | remove: "/index.html" }}{%- endcapture -%}
{%- assign split_url_parts = page_url_without_index_html | split: '/' -%}
{%- capture forLoopMaxInt -%}{{ split_url_parts.size | minus:1 }}{%- endcapture -%}
{%- for i in (1..forLoopMaxInt) -%}
    {%- capture current_breadcrumb_url -%}{{next_prepender}}/{{ split_url_parts[i] }}/index.html{%- endcapture -%}
    {%- capture current_breadcrumb_md_url -%}{{next_prepender}}/{{ split_url_parts[i] }}/{%- endcapture -%}
    {%- capture next_prepender -%}{{next_prepender}}/{{ split_url_parts[i] }}{%- endcapture -%}
    {%- for breadcrumb_page in site.pages -%}
        {%- if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  -%}
            {%- capture breadcrumb_page_page_url_without_index_html -%}{{ breadcrumb_page.url | remove: "index.html" }}{%- endcapture -%}
                &nbsp;&gt;&nbsp;<a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">
                {%- if i == 1 -%}
                    {{split_url_parts[i] | capitalize }}
                {%- else -%}
                    {{split_url_parts[i] | replace: "_", " "}}
                {%- endif -%}
                </a>
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
</div>
